 span.wikidata {
        writing-mode: horizontal-tb;
        
        box-sizing: content-box;
        width: auto;
        white-space: nowrap;
        width: auto;
        height: auto;
        background-color: aliceblue;
        border: 1px solid black;
      }
