div.wikidata {
  writing-mode: horizontal-tb;
  font-size: medium;
  width: auto;
  height: auto;
  white-space: nowrap;
  background: whitesmoke;
  border: 0.3pt solid black;
  border-radius: 1%;
  color: black;
  display: inline-block;
  text-align: center;
}
a:link{
  color:blue;
}
a:visited{
  color:navy;
}
a:hover{
  color:red;
  font-weight: bold;
}
a:active{
  color:pink;
  font-weight: bold;
}