body {padding: 0; margin: 0}
html, body, #map {height: 100%; width: 100%;}

#wikidataSearchBox {
  position: absolute;
  top: 80px;
  right: 6px;
  z-index: 9999;
  background: white;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  display: none;
}

#wikidataFilterInput {
  width: 240px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#wikidataSuggestList {
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
  width: 240px;
  max-height: 160px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  display: none; 
}

#wikidataSuggestList li {
  padding: 6px;
  cursor: pointer;
}

#wikidataSuggestList li:hover,
#wikidataSuggestList li.active {
  background: #e6f0ff;
}

